@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';
@import '../../sassStyles/transition';

.nav-desktop {
	width: 100vw;
	background-color: $bg-light;
	overflow: hidden;
	transition: $height-transition;
	&--is-hidden {
		height: 0;
	}

	&--is-visible {
		border-top: 1px solid $border-primary-color;
		height: 100vh;
	}
}
